/* Pacifico Font*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@600;700&family=Pacifico&family=Philosopher&family=Playpen+Sans&display=swap');

/* Kaushan Script Font */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/* Lobster Font */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* Rubik Mono One Font */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

/* Luckiest Guy Font */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/* Rammetto One Font */
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');

/* Concert One Font */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

/* Alata Font */
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

/* Paytone One Font */
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

/* Acme Font */
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

/* Kaushan Script Font */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');










* {
    margin:0;
    padding:0;
    font-family:"poppins", sans-serif;
    box-sizing: border-box;
    border:none;
    outline: none;
    scroll-behavior: smooth;

}

html {
    font-size: 17px;
    overflow-x: hidden;
    /* scroll-behavior: smooth;
    scroll-padding: 
        var(--scroll-padding, 5rem) */
}

body {
    height: 100%;
    background-image: url(/personal-website.github.io/image/image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: rgba(255,255,255, .1);
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
}


/* glass navbar hover
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4) transparent);
    transition: .5s;
}

.header:hover:hover:before {
    left: 100%;
} */


/* sticky header on scroll */
 /* header.sticky {
    width: 100%;
    padding: 2rem 3%;
}


header.sticky{
    background-color:#ffcef3;
    opacity: .5;
} */

.logo {
    font-size: 60px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    cursor: none;
    font-family: 'Lobster', sans-serif;
}

.logo:hover {
    text-decoration: none;
    color: #fff;
}

.navbar a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    margin-left: 4rem;
    font-size: 17px;
    transition: .2s;
    padding: 6px 15px;
    border-radius: 20px;
}

.navbar a:hover,
.navbar a.active {
    background: #f6efe2;
    color: #e0b8b8;
    text-decoration: none;
    cursor: none;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

section h2 {
    color: #fff;
}

section .all-heading {
    font-size: 50px;
}

.all-heading {
    font-family: 'Pacifico', cursive;
}


.all-heading span {
    font-family: 'Luckiest Guy', cursive;
    color:#f9656d;
}

.top-page-container .animate__animated {
    margin:0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    font-family: 'Rammetto One', sans-serif;
    font-size: 90px;
    font-weight: 800;
    letter-spacing: 5px;
    text-align: center;
    background: linear-gradient(150deg,#ffe898, #f65a83 30%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
} 

.about-container {
    margin:0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: #fff;
    opacity: 0.4;
    border-radius: 30%;
}

.about-container .about-content-container-grid {
    margin: 50px;
    padding: 50px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 120px;
}

.about-content-container-grid .fish-image {
    border-radius: 35%;
}

.about-content-container-grid .about-paras {
    font-family: 'Concert One', sans-serif;
    font-size: 23px;
    letter-spacing: 0.5px;
}
  

.hobbies-container {
    display: grid;
    grid-template-rows: repeat( 4 25px);
    grid-template-columns: repeat(3 25px);
    justify-content: center;
    align-items: center;

}

.hobbies-container .icon-row {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.icon-row img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: #a1eafb;
}

.icon-row .icons {
    cursor: none;
    padding: 1.5rem 2rem;
    border-radius: 30%;
    background-image: linear-gradient(to right, #cabbe9, #ffcef3, #fdfdfd, #a1eafb);
    background-size: 500%;
    transition: background 0.4s ease-in-out;
    border: 4px outset;
}

.icon-row .icons:hover {
    background-position: right;
    display:flex;
    justify-content: center;
    align-items: center;
}

.heading-container .heading-row {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 80px;
    grid-gap: 170px;
}

 .heading-row .heading {
    font-family: 'Paytone One', sans-serif;
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align:center;
    opacity: 0.9;
    color:#d84452;
    text-shadow: 5px 3px 5px #a2bcba;
    font-size: 35px;
}

/* .heading-row .heading { animation: rubberBand 2s; }

@keyframes rubberband {
    0%{
        transform: scaleX(1);
    }
    40%{
        transform: scaleX(1.12) scaleY(0.75);
    }
    55%{
        transform: scaleX(0.85) scaleY(1);
    }
    65%{
        transform: scaleX(1.09) scaleY(0.85);
    }
    75%{
        transform: scaleX(0.9)  scaleY(1);
    }
    90%{
        transform: scaleX(1.05) scaleY(0.95);
    }
    100%{
        transform: scaleX(1) scaleY(1);
    }
}  */


.hobbies-container .paras-row {
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align:center;

} 

.paras-row .p {
    font-family: 'Acme', sans-serif;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
    padding: 0;
    color: #c96144;
    font-weight: 400;
    font-size: 21px;
}

.Gallery .image .carousel .carousel-control-prev{
    cursor: none;
}

.Gallery .image .carousel .carousel-control-next {
    cursor: none;
}


.all-heading {
    display: flex;
    justify-content: center;
    margin: 60px;
    font-size: 30px;
}

 .image bd-example {
    position: relative;
    top:50%;
    transform: translateY(-50%);
}

.carousel-item img{
    width: 100%;
    height: 100%;
} 

 .carousel-inner {
    margin-top: 60px;
    border-radius: 100px;
    border: 15px dashed #fab970;
 }  

 .contact-text {
    font-family:'Times New Roman', Times, serif;
    font-size: 19px;
    color: black;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    padding: .5em;
 }

 .contact-row {
    /* width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; */

    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 80px;
    grid-gap: 170px;
 }

 

 .contact-row .bi {
    font-size: 70px;
    padding: 1.5rem 2rem;
    margin-left: 65px;
    color:white;
    max-width: 100%;
    height: auto;
    z-index: 100;
    cursor: none;
 }


 .Contact .btn{
   position: relative;
   left: 40.5%;
   border: none;
   cursor: none;
 }

 

  .Contact .btn a{
    font-family: 'Kaushan Script', sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    color: #f8e4d9;
    transition: .2s;
    padding: 9px 20px;
    background-color: #d36129;
    border-radius: 30px;
    border: 5px solid #f0896a;
    cursor: none;
  }

  .Contact .btn a:hover {
    background-color: #f8e4d9;
    color:#047965;
    border: 5px solid #fad6c6;

  }


  *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    cursor: none;
  }


  body{
    height: 100%;
    width: 100%;
    cursor: none;
  }

  .cursor-dot {
    width: 15px;
    height: 15px;
    background-color: white;
  }

  .cursor-outline {
    width: 35px;
    height: 35px;
    border: 3px solid hsla(0, 0%, 100%, 0.5);
  }

  .cursor-dot,
  .cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events:none;
  }

